<!-- search bar -->


<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>
<ul class="list-group">
  <li class="list-group-item">A simple default list group item</li>
</ul>